---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Rick and Morty App">
  <main class="flex flex-col gap-y-5 items-center mb-6 w-full max-w-xl">
    <a
      class="flex flex-row w-[60%] justify-between items-center bg-gray-800 shadow-lg rounded-lg overflow-hidden transform transition-transform duration-300 hover:scale-105"
    >
      <picture class="flex-shrink-0">
        <img
          src="/images/characters.jpg"
          alt="Characters"
          class="h-32 w-32 object-cover"
        />
      </picture>
      <div
        class="text-lg font-semibold text-white flex flex-row justify-center items-center w-full"
      >
        CHARACTERS
      </div>
    </a>
    <a
      class="flex flex-row w-[60%] justify-between items-center bg-gray-800 shadow-lg rounded-lg overflow-hidden transform transition-transform duration-300 hover:scale-105"
    >
      <picture class="flex-shrink-0">
        <img
          src="/images/locations.jpg"
          alt="Characters"
          class="h-32 w-32 object-cover"
        />
      </picture>
      <div
        class="text-lg font-semibold text-white flex flex-row justify-center items-center w-full"
      >
        LOCATIONS
      </div>
    </a>
    <a
      class="flex flex-row w-[60%] bg-gray-800 shadow-lg rounded-lg overflow-hidden transform transition-transform duration-300 hover:scale-105 items-center"
    >
      <picture class="flex-shrink-0">
        <img
          src="/images/episodes.jpg"
          alt="Characters"
          class="h-32 w-32 object-cover"
        />
      </picture>
      <div
        class="text-lg font-semibold text-white flex flex-row justify-center items-center w-full"
      >
        EPISODES
      </div>
    </a>
  </main>
</Layout>
