---
import HeaderLogo from "./HeaderLogo.astro";
import HeaderMenu from "./HeaderMenu.astro";
---

<header class="flex flex-col items-center w-full px-4 mx-auto lg:flex-col lg:justify-between lg:px-6">
    <section class="flex flex-col items-center w-full text-center lg:flex-col lg:w-auto lg:space-x-6">
        <HeaderLogo />
    </section>
    <section class="flex w-full justify-center mt-4 lg:mt-0 lg:w-auto">
        <HeaderMenu />
    </section>
</header>
