<picture class="flex w-[80%] justify-center">
  <img src="/images/Rick_and_Morty.svg.png" alt="Rick and Morty Logo" />
</picture>
<span
  class="font-custom mb-4 text-2xl text-center tracking-tight font-extrabold text-white"
>
  Wubba Lubba Dub Dub!
</span>
