---
import HeaderLogo from "./HeaderLogo.astro";
import HeaderMenu from "./HeaderMenu.astro";
---

<header
    class="flex flex-col px-4 mx-auto max-w-xl lg:px-6 items-center"
>
    <section
        class="flex flex-col items-center mx-auto text-center"
    >
        <HeaderLogo />
        <HeaderMenu />
    </section>
</header>
